.App {
  text-align: center;
}

h1 {
  font-family: 'Bigelow Rules';
  font-size: 7vh;
  color: #010014;
}

h2, p {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-weight: 300;
  color: #010014;
}

p {
  font-weight: 500;
  color: #ff1447;
}
